body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main--home {
    width: 90%;
    margin: auto;
    margin-top: 0px;
    padding: 20px 0px;

    background: whitesmoke;
}

.home--first {
    width: 80%;
    margin: auto;
    border: 1px solid orange;
}

.home--sec {
    width: 600px;
    margin: auto;
    padding: 10px 0px;
    text-align: center;
    background: white;

    border: 1px solid black;
}

.home--third {
    width: 560px;
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid black;

    background: white;
}

.home--third p {
    text-indent: 20px;
    text-align: justify;

}